<div class="container-fluid">
    <div class="row px-3 mt-5">
        <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
            <div class="img-left d-none d-md-flex"></div>
            <div class="card-body">
                <h4 class="title text-center mt-4">FORGET PASSWORD?</h4>
                <p class="para text-center mt-4">Please enter your email address below we will send you information to
                    recover your account.</p>
                <div class="form-box px-3" [formGroup]="fbFormGroup">
                    <div class="alert alert-danger" role="alert" *ngIf="uiInvalidCredential">
                        Error...!!!!!!
                    </div>
                    <div class="box">
                        <input type="email" name="" placeholder="Email Address" tabindex="10" formControlName="Email"
                            required>
                    </div>
                    <div class="box">
                        <input type="Password" name="" placeholder="Enter Password" tabindex="10"
                            formControlName="Password" required>
                    </div>
                    <div class="box">
                        <input type="Password" name="" placeholder="Enter Confirm Password" tabindex="10"
                            formControlName="CPassword" required>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-block text-uppercase" [disabled]="!fbFormGroup.valid"
                            (click)="onResetPwd()">Reset
                            Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>